*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}
.data{
  display: flex;
  flex-direction: column;

}
.data input{
  width: 250px;
  font-size: 16px;
  border-radius: 4px;
}
.btns{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
button{
  padding: 4px 8px;
}